@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/mixins.scss';

.button {
  @include boxShadow();

  background: $buttonBackground;
  border-radius: 5px;
  color: $primaryTextColor;
  cursor: pointer;
  font-family: $mainFontFamily;
  font-size: 0.9em;
  padding: 20px 10px 10px 10px;
  text-align: center;
  transition: 0.3s all;
  user-select: none;
  min-width: 150px;

  &:hover:not(.disabled) {
    background: $buttonBackgroundHover;
  }
}

.disabled {
  cursor: default;
  opacity: 0.8;
}
