$primaryColor: #191919;
$secondaryColor: rgb(113, 110, 116);
$secondaryColor: rgba(77, 39, 122, 0.5);
$tertiaryColor: #6785a3;

$buttonBackground: rgba(15, 15, 15, 1);
$buttonBackgroundHover: rgba(15, 15, 15, 0.6);

$modalBackground: #454545;
$modalBorder: #e7e7e7;

$secondaryColorLight: #432269;
$primaryTextColor: whitesmoke;

$accentColor: rgba(139, 196, 72, 0.7);
$mutedColor: #c4bf48;

$mainBackground: #d1d1d1;
$mainColor: $primaryColor;
$headerBackground: $primaryColor;
$headerColor: #d1d1d1;

$errorText: rgba(196, 110, 72, 1);
$errorText-5: rgba(196, 110, 72, 0.5);

$successText: $accentColor;
