@import '../../../styles/colors.scss';

.boardCell {
  background: $cellBackground;
  border: 1px solid $cellBorder;
  transition: 0.5s background;

  &.hit {
    background: $cellHitBackground;
  }

  &.miss {
    background: $cellMissBackground;
  }
}
