@import '../../../styles/colors.scss';

.boardCell {
  background: $cellBackground;
  border: 1px solid $cellBorder;

  &.hit {
    background: $cellHitBackground;
  }

  &.miss {
    background: $cellMissBackground;
  }
}
